<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/558de67ce4.js" crossorigin="anonymous"></script>
    <style>
        i {
            font-size: 1.5em;
            margin-right: 5px;
        }

        h3 {
            font-size: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .05em;
            color: #909090;
            margin-top: 10px;
        }
    </style>
    <title>Seekers</title>
    <link rel="icon" href="/media/edit.ico">
</head>

<body>
    <nav class="navbar sticky-top bg-white navbar-expand-md navbar-light shadow"
        style="margin: 0 auto; box-shadow: 0 7px 7px -7px rgba(0,0,0,.2);">
        <a class="navbar-brand" href="/">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" style="height: 50px"
                viewBox="0 0 474.000000 193.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,193.000000) scale(0.100000,-0.100000)" fill="#FF664D" stroke="none">
                    <path d="M484 1709 c-18 -5 -46 -25 -63 -44 l-31 -36 0 -252 c0 -232 2 -255
20 -284 38 -62 42 -63 435 -63 196 0 355 3 353 8 -1 4 -28 31 -59 60 l-56 52
-287 0 -286 0 2 223 3 222 400 0 400 0 3 -117 3 -118 59 0 60 0 0 128 c0 108
-3 132 -20 159 -42 70 -28 68 -490 70 -233 1 -429 -2 -446 -8z" />
                    <path d="M745 1389 c-93 -88 -171 -164 -173 -169 -2 -6 26 -10 70 -10 l73 0
80 75 c123 116 117 113 164 74 22 -19 112 -101 200 -184 l160 -150 -2 -205 -2
-205 -400 0 -400 0 -3 118 -3 117 -60 0 -61 0 4 -141 3 -141 37 -34 38 -34
162 0 c741 -1 719 -2 745 15 13 9 33 30 43 48 18 29 20 52 20 257 0 259 8 235
-110 345 -41 39 -150 141 -241 228 -92 86 -168 157 -170 156 -2 0 -80 -72
-174 -160z" />
                    <path d="M2582 1168 c-9 -9 -12 -92 -12 -310 l0 -298 25 -12 c19 -8 31 -8 50
0 24 11 25 16 25 92 0 44 3 80 6 80 3 0 43 -34 87 -76 107 -101 121 -110 152
-96 14 6 28 24 31 39 7 25 -1 35 -85 113 l-92 86 75 71 c55 52 76 79 76 97 0
25 -32 56 -57 56 -7 0 -50 -34 -94 -75 -45 -41 -86 -75 -90 -75 -5 0 -9 67 -9
148 0 102 -4 152 -12 160 -15 15 -61 15 -76 0z" />
                    <path d="M1670 1011 c-123 -38 -197 -159 -172 -281 28 -131 137 -210 271 -197
61 7 104 33 109 66 7 45 -55 80 -86 49 -17 -17 -94 -14 -122 5 -14 9 -33 30
-43 47 l-18 30 168 0 c118 0 173 4 181 12 36 36 -10 175 -72 223 -62 47 -150
66 -216 46z m137 -117 c25 -16 59 -62 51 -70 -3 -2 -60 -3 -127 -2 l-122 3 23
35 c38 57 116 72 175 34z" />
                    <path d="M2200 1011 c-112 -34 -174 -119 -174 -236 0 -101 42 -171 129 -218
57 -31 181 -31 222 -1 34 25 41 59 17 85 -21 23 -40 24 -88 4 -57 -24 -123 1
-152 56 l-15 29 169 0 c117 0 172 4 180 12 18 18 14 87 -7 134 -48 106 -175
167 -281 135z m102 -101 c34 -10 88 -59 88 -81 0 -5 -55 -9 -125 -9 -70 0
-125 4 -125 9 0 5 12 23 26 40 21 25 56 44 94 50 3 1 22 -4 42 -9z" />
                    <path d="M3158 1005 c-61 -23 -106 -63 -134 -121 -23 -47 -26 -64 -22 -122 3
-37 12 -82 22 -99 44 -87 144 -140 241 -130 98 10 144 52 111 102 -19 29 -39
31 -92 9 -31 -13 -45 -14 -75 -5 -35 11 -89 60 -89 82 0 5 71 9 164 9 193 0
202 4 192 77 -11 80 -59 148 -130 185 -51 26 -139 32 -188 13z m139 -104 c25
-12 48 -32 58 -50 l16 -31 -126 0 c-138 0 -147 5 -97 53 51 49 87 56 149 28z" />
                    <path d="M3730 1011 c-47 -15 -87 -40 -119 -76 -53 -60 -62 -96 -62 -239 -1
-113 2 -132 17 -143 24 -17 49 -16 68 3 13 12 16 38 16 120 0 156 33 217 127
231 46 7 73 29 73 59 0 47 -51 66 -120 45z" />
                    <path d="M3972 1000 c-67 -41 -90 -120 -54 -189 29 -57 62 -75 154 -81 62 -4
83 -9 92 -22 8 -13 8 -23 0 -35 -9 -15 -29 -18 -125 -21 -122 -3 -149 -13
-149 -57 0 -45 27 -55 156 -55 136 0 173 12 211 69 42 62 23 159 -40 205 -21
16 -49 22 -115 26 l-87 5 0 30 0 30 110 5 c105 5 110 6 124 31 13 24 13 29 -2
53 -17 25 -20 26 -130 26 -94 0 -117 -3 -145 -20z" />
                    <path d="M782 903 l3 -58 55 0 55 0 3 58 3 57 -61 0 -61 0 3 -57z" />
                    <path d="M930 905 l0 -55 40 -1 c22 -1 48 -2 58 -3 14 -1 18 9 20 57 l3 57
-61 0 -60 0 0 -55z" />
                    <path d="M780 755 l0 -55 60 0 60 0 0 55 0 55 -60 0 -60 0 0 -55z" />
                    <path d="M930 755 l0 -55 60 0 60 0 0 55 0 55 -60 0 -60 0 0 -55z" />
                </g>
            </svg>
            <img src="" style="height: 50px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-md-none">
                <h3>My Account</h3>
                <li class="nav-item">
                    <a class="nav-link" href="/edit" style="color: #666666; font-family: MYRIAD; font-weight: 700;"><img
                            src="/media/profile_placeholder.png" style="height: 30px; width: 30px; border-radius: 50%;">
                        Edit
                        Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myListings"
                        style="color: #666666; font-family: MYRIAD; font-weight: 700;"><i class="fa-solid fa-list"></i>
                        My Listing</a>
                </li>
                <h3>Search</h3>
                <li class="nav-item">
                    <a class="nav-link" href="/userProfiles"
                        style="color: #666666; font-family: MYRIAD; font-weight: 700;"><i class="fa-solid fa-users"></i>
                        Find a Roomate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms/new"
                        style="color: #666666; font-family: MYRIAD; font-weight: 700;"><i class="fa-solid fa-house"></i>
                        List a Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms" style="color: #666666; font-family: MYRIAD; font-weight: 700;"><i
                            class="fa-solid fa-magnifying-glass"></i> Find a Room</a>
                </li>
                <h3>More</h3>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" style="color: #666666; font-family: MYRIAD; font-weight: 700;"><i
                            class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto navbar-nav d-none d-md-flex" style="align-items: center;">
                <li class="nav-item">
                    <a class="nav-link" href="/userProfiles"
                        style="font-size: 1em; color: grey; font-weight: bold; margin-left: 20px;">FIND A ROOMMATE<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    style="background-color: rgb(0, 213, 204); border-radius: 5px; padding: 0px 0px !important; margin-left: 20px;">
                    <a class="nav-link" href="/rooms/new"
                        style="font-size: 1em; color: white; font-weight: bold; padding: 0px 15px 5px 15px;"> <b
                            style="font-size: 1.5em;">+</b> LIST A ROOM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rooms"
                        style="font-size: 1em; color: grey; font-weight: bold; margin-left: 20px;">FIND A ROOM</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-none d-md-flex">
                <li class="nav-item dropdown my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/media/profile_placeholder.png"
                            style="height: 40px; width: 40px; border-radius: 50%;">
                    </a>
                    <!-- <a class="fa-solid fa-user nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a> -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <h4 style="display: flex;justify-content: center;"> <%= currentUser.username %>  </h4>
                        <a class="dropdown-item" href="/edit">My Profile</a>
                        <a class="dropdown-item" href="/myListings">My listing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>